@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');

.App-logo {
  height: 7vmin;
  pointer-events: none;
}
h1.App-logo {
  margin-top: 3px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




*{
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #FFF;
}
.app {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
}
.container {
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  width: 430px;
  padding: 3px 40px 30px 40px;
  grid-template-columns: repeat(3, 1fr);
}
h1, h2 {
  text-align: center;
  margin: 0 0 20px;
}
.app-heading {
  margin: 40px 0 20px;
}
.instruction {
  background-color: rgba(216, 48, 34);
  padding: 3px 0;
  float: left;
}
h1 {
  font-family: 'Prompt';
}
.entireData-items {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  display: grid;
}
.entireData-items {
  list-style: none;
  display: block;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
  align-items: stretch;

  background: rgba(000, 000, 000,.1);  /* fallback for old browsers */  
  -webkit-box-shadow: 2px 2px 10px -4px rgba(255,255,255,1);
  -moz-box-shadow: 2px 2px 10px -4px rgba(255,255,255,1);
  box-shadow: 2px 2px 5px -4px rgba(255,255,255,1);
}
.global-item {
  display: inline-block;
  padding: 0 10px;
  text-align: center;
  font-size: 20px;
}

/* Search */

.select-item {
  /* appearance: none; */
  width: 100%;
  cursor: pointer;
  background-color: rgba(216, 48, 34);
  margin: 30px 0;
  /* padding: 30px 50px !important; */
  align-items: center;
  outline: 0;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: bold;
  font-family: 'Prompt';
  border: none;
  letter-spacing: 1px;
  border-radius: 4px;

  text-align-last:center;
  padding-right: 30px !important;
}


/*  Ticker  */
@keyframes ticker {
  100% { transform: translate3d(0, 0, 0); }
  0% { transform: translate3d(-100%, 0, 0); }
}
.tcontainer{
  width: 100%;
  overflow: hidden;
  border-radius: 2px;
}
.ticker-wrap {
  width: 100%;
  padding-left: 100%;
  background-color: rgba(216, 48, 34);
}
.ticker-move {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-delay: 1s;
  animation-duration: 100s;
}
.ticker-move:hover{
  animation-play-state: paused;
}
.ticker-item{
  display: inline-block;
  padding: .2rem 2rem;
}

/* News */
a.news {
  margin-left: 0 !important;
}
.news {
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
  z-index: 1;
}